# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
*/dist/
build/
*/build/

# Environment variables
.env
.env.local
.env.*.local
*.env

# .NET
bin/
obj/
*.user
*.suo
*.cache
*.docstates
*.dll
*.pdb

# Visual Studio
.vs/
*.vsidx
*.vssscc

# Database
/supabase/
*.db
*.sqlite
*.sqlite3
local_SB.session.sql
database/seed_data
database/supabase
database/.branches

# Ignore any .temp folders or files
**/.temp/
*.temp
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo