# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# IDE garbage
.vscode/
.vs/
*.vsidx
*.vssscc
.idea/
*.swp
*.swo

# OS garbage
.DS_Store
Thumbs.db

# .NET
bin/
obj/
*.user
*.suo
*.cache
*.docstates
*.dll
*.pdb

# Node.js
node_modules/
dist/
drizzle/
