@import "tailwindcss";

/* Manrope font family */

@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope/static/Manrope-Bold.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope/static/Manrope-ExtraBold.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope/static/Manrope-ExtraLight.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope/static/Manrope-Light.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope/static/Manrope-Medium.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope/static/Manrope-Regular.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope/static/Manrope-SemiBold.ttf");
}

/* Sora font family */

@font-face {
  font-family: "Sora";
  src: url("/src/assets/fonts/Sora/static/Sora-Bold.ttf");
}

@font-face {
  font-family: "Sora";
  src: url("/src/assets/fonts/Sora/static/Sora-ExtraBold.ttf");
}

@font-face {
  font-family: "Sora";
  src: url("/src/assets/fonts/Sora/static/Sora-ExtraLight.ttf");
}

@font-face {
  font-family: "Sora";
  src: url("/src/assets/fonts/Sora/static/Sora-Light.ttf");
}

@font-face {
  font-family: "Sora";
  src: url("/src/assets/fonts/Sora/static/Sora-Medium.ttf");
}

@font-face {
  font-family: "Sora";
  src: url("/src/assets/fonts/Sora/static/Sora-Regular.ttf");
}

@font-face {
  font-family: "Sora";
  src: url("/src/assets/fonts/Sora/static/Sora-SemiBold.ttf");
}

@font-face {
  font-family: "Sora";
  src: url("/src/assets/fonts/Sora/static/Sora-Thin.ttf");
}


