# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Node modules
node_modules/
# Environment files
env
env.local
env.test
env.production
# Supabase-specific directories
**/database/.branches
**/database/.temp
**/database/seed_data
**/database/supabase-config/supabase/.temp
# IDE and editor settings
vscode/
idea/
# Build outputs
next/
nuxt/
dist/
cache/
# Miscellaneous
DS_Store
*.swp