/* 
  The selectors below apply styles to both semantic tags (e.g., h1) and utility classes (e.g., .h1).
  Use .h1 for utility-based styling and h1 for semantic HTML elements.
*/
.h1, h1 {
  font-weight: 600;
  font-family: var(--font-manrope);
  font-size: 2rem;
}

.h2, h2 {
  font-weight: 600;
  font-family: var(--font-manrope);
  font-size: 1.125rem;
}

.h3, h3 {
  font-weight: 600;
  font-family: var(--font-manrope);
  font-size: 1rem;
}

.body-bold {
  font-weight: 600;
  font-family: var(--font-sora);
  font-size: 1rem;
}

.manrope-body {
  font-weight: 400;
  font-family: var(--font-manrope);
  font-size: 1rem;
}

.plain-body {
  font-weight: 400;
  font-family: var(--font-sora);
  font-size: 1rem;
}