name: Deploy to Supabase

on:
  push:         #Only Pushes Migrations Deployed On Main Branch
    branches:
    - '**'        
  pull_request: #Run Dry-Run To Validate Schema Pre-Merge
    branches: 
    - '**'    

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      #Necessary To Push SQL Artifacts To Supabase
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20' 
      
      #Curl May Be Error-Prone For CI/CD Environments
      - name: Install Supabase CLI
        run: npm install -g supabase@latest
          #|
          #curl -L https://github.com/supabase/cli/releases/latest/download/supabase_$(uname)_amd64.tar.gz | tar xz
          #sudo mv supabase /usr/local/bin/  
        
      - name: Link to Supabase project
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
        run: supabase link --project-ref ${{ secrets.SUPABASE_PROJECT_REF }}

      #Runs Final Check to Validate Migrate For Pull Request
      - name: Dry-run on PR                                    
        if: github.event_name == 'pull_request'
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
        run: supabase db push --dry-run

      - name: Push migrations to Supabase
        if: github.ref == 'refs/heads/main'
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
        run: supabase db push
